.ant-cascader-menus-placement-bottomLeft{
    width: 23%;
}
.ant-cascader-menu{
   width: 101%;;
}
/* .ant-modal-footer .ant-btn-primary{
    background-color: #dc3545;
    border-color: #dc3545;
}
.ant-modal-footer .ant-btn-primary:hover{
    background-color: #c82333;
    border-color: #c82333;
} */
